
 .carousel-inner{

    z-index: 1;
    display:block;
    position: absolute;

    top: 100px;
    height: 300px;
    left: 5%;
    right: 0;
    

  }

  .carousel-item{
    z-index: 1;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
  }


  .card-body{
    color: white;
  }

