<!-- 
<div class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item col-10 col-sm-6 offset-xs-1 active">
          <div class="row">
            <iframe class="" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <div class="row-content">
              <img src="https://images.unsplash.com/photo-1555445091-5a8b655e8a4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="" width="24px" style="display: inline;">
              <p style="display: inline;" >Donald Trump</p>
              <div style="display: inline;"><i class="fa fa-share-alt" style="color: white;"></i></div>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>
        
          

          
      </div>
      <div class="carousel-item col-10 col-sm-6 offset-xs-1">
        <div class="row">
          <iframe class="" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <div class="row-content">
            <img src="https://images.unsplash.com/photo-1555445091-5a8b655e8a4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="" width="24px" style="display: inline;">
            <p style="display: inline;" >Donald Trump</p>
            <div style="display: inline;"><i class="fa fa-share-alt" style="color: white;"></i></div>
          </div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        </div>
        
      </div>
      <div class="carousel-item col-10 col-sm-6 offset-xs-1">
        <div class="row">
          <iframe class="" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <div class="row-content">
            <img src="https://images.unsplash.com/photo-1555445091-5a8b655e8a4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="" width="24px" style="display: inline;">
            <p style="display: inline;" >Donald Trump</p>
            <div style="display: inline;"><i class="fa fa-share-alt" style="color: white;"></i></div>
          </div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        </div>
      </div>

    </div>
  </div> -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">  
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">    
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <div class="swiper-container" *ngIf="notes.length>0" >
    <div class="swiper-wrapper">
      <div class="swiper-slide col-10" *ngFor="let note of notes">
        <div class="container">
          <div class="row">
            <video style="margin-top: 10px;" controls>
              <source src={{note.url}} >
            </video>
          </div>
          <div class="row">
            <img src="" alt="" width="24px">
            <p>{{note.author}}</p>
            <div class="col order-10"><i class="fa fa-share-alt" style="color: white;"></i></div>
            <div class="col order-11"><i class="glyphicon glyphicon-download-alt" style="color: white;"></i></div>
          </div>
          <div class="row">
            <p>{{note.description}}</p>
          </div>
          <div class="row">
            <span class="badge badge-primary" *ngFor="let tag of note.tags">{{tag}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
